<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=IE8">
    <meta name="description" content="Koalas to the Max, a site made with love by Vadim Ogievetsky for Annie Albagli">
    <meta name="keywords" content="Koalas Max Vadim Ogievetsky Annie Albagli D3 Canvas SVG Koala Maximization">
    <meta name="viewport" content="width=540, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="google" content="notranslate">
    <title>Koalas to the Max dot Com</title>
    <script type="text/javascript">var version = '1.9.4';</script>
    <script type="text/javascript" src="polyfill/polyfill.js?1.9.4"></script>
    <script type="text/javascript" src="polyfill/Blob.js?1.9.4"></script>
    <script type="text/javascript" src="polyfill/FileSaver.js?1.9.4"></script>
    <!--[if gte IE 9]><!-->
    <script type="text/javascript" src="javascript/d3.min.js?1.9.4"></script>
    <script type="text/javascript" src="javascript/koala.js?1.9.4"></script>
    <script type="text/javascript" src="javascript/inobounce.js"></script>
    <!--<![endif]-->
    <link rel="stylesheet" type="text/css" href="css/koala.css?1.9.4"/>
  </head>
  <body>
    <!-- <div data-objData=<%=data%></div> -->
    <div id='img-data' data-img64='<%=data%>'></div>
    <div id="center">
      <div id="cont">
        <noscript>
          Your browser does not support JavaScript or it is disabled.<br>
          JavaScript is needed to view this site.
        </noscript>
        <div id="complete" style="display: none">
          <div class="msg">Completed!</div>
        </div>
        <div id="encourage" style="display: none">
          <div class="msg">Keep Going!! Only 10% Left!</div>
        </div>
        <div id="halfway" style="display: none">
          <div class="msg">Half Way There!</div>
        </div>
        <div id="dots"></div>
        <!-- Added image input field -->
        <div id="img-upload">
          <form action="#" enctype="multipart/form-data" class="form-area">
            <h3 class="from-title">Send an Image!</h3>
            <div class="file-input">
              <input type="file" class="file" name="image" id="file" accept=".jpeg, .png, .jpg, image/*;capture=camera"/>
              <label for="file" class="new-button" id="uploadTarget">Upload</label>
              <p class="file-name" id="uploadText"></p>
            </div>
            <input type="text" name="codeid" id="codeid" value="hello"/>
            <button id='btnSubmit'>Create Link</button>
          </form>
          <div class="copy-area">
            <h3 class="from-title">Sharing Link</h3>
            <div class="copy-border">
              <span class="file-name" id="copyText">Copy Text</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div id="footer">
      Originally created by
      <a href="http://vadim.ogievetsky.com">Vadim Ogievetsky</a>
      for
      <a href="http://anniealbagli.com">Annie Albagli</a>
      &nbsp; / &nbsp;
      Powered by
      <a href="http://d3js.org/">D3</a>
      <br>
      Upadated for mobile by Suket Shah
    </div> -->


    <script type="text/javascript">

    var _fastrack_account = 'FT-1000001';

    (function(w,h) {
      if (typeof _fastrack_account !== 'string') return;
      var acc = _fastrack_account;
      try {
        var session = 'S' + Math.random().toFixed(8).substring(2);
        var num = 0;
        var now = new Date();
        var initTime = +now;
        var tzm = String(now).match(/\((\w+)\)/);
        var sx = (window.pageXOffset !== undefined) ? window.pageXOffset : (document.documentElement || document.body.parentNode || document.body).scrollLeft;
        var sy = (window.pageYOffset !== undefined) ? window.pageYOffset : (document.documentElement || document.body.parentNode || document.body).scrollTop;
        w.fastrack = function(opt) {
          var a = {
            A: acc,
            S: session,
            N: num++,
            P: document.location.href,
            L: +new Date() - initTime,
            F: w.document.referrer || 'Direct',
            C: screen.width + 'x' + screen.height,
            R: sx + 'x' + sy,
            O: now.getTimezoneOffset(),
            Z: (tzm && tzm.length === 2) ? tzm[1] : 'N/A'
          }

          if (opt) {
            var s;
            for (var j = 1; j <= 6; j++) {
              s = 'D0' + j;
              if (opt[s]) { a['D0' + j] = opt['D0' + j]; }
              s = 'M0' + j;
              if (opt[s]) { a['M0' + j] = opt['M0' + j]; }
            }
          }

          if ('innerWidth' in window) {
            a.W = w.innerWidth + 'x' + w.innerHeight;
          } else {
            var e = w.document.documentElement || w.document.body;
            a.W = w.clientWidth + 'x' + w.clientHeight;
          }
          var params = [];
          for (var k in a) params.push(encodeURIComponent(k) + "=" + encodeURIComponent(String(a[k])));
          var i = new Image();
          i.src = h + '?' + params.join('&');
          return true;
        };
      }catch(e){}
    })(window,"https://rt.metamarkets.com/i1/m.gif");

    </script>

    <script type="text/javascript" src="javascript/tracking.js"></script>
    <!--[if gte IE 9]><!-->
    <script type="text/javascript" src="javascript/main.js"></script>
    <!--<![endif]-->
  </body>
</html>
