<!DOCTYPE html>
<html>
  <head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-DHGJRGYWXY"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-DHGJRGYWXY');
    </script>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=IE8">
    <meta name="description" content="Dot pics is orgiginally Koalas to the Max, a site made with love by Vadim Ogievetsky for Annie Albagli. The site is now updated for a better user experience.">
    <meta name="keywords" content="Koalas Max Vadim Ogievetsky Annie Albagli D3 Canvas SVG Koala Maximization Suket Shah">
    <meta name="viewport" content="width=540, user-scalable=0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="google" content="notranslate">
    <title>Dot Pics</title>
    <script type="text/javascript">var version = '1.9.4';</script>
    <script type="text/javascript" src="/polyfill/polyfill.js?1.9.4"></script>
    <script type="text/javascript" src="/polyfill/Blob.js?1.9.4"></script>
    <script type="text/javascript" src="/polyfill/FileSaver.js?1.9.4"></script>
    <!--[if gte IE 9]><!-->
    <script type="text/javascript" src="/javascript/d3.min.js?1.9.4"></script>
    <script type="text/javascript" src="/javascript/koala.js?1.9.4"></script>
    <script type="text/javascript" src="/javascript/inobounce.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <!--<![endif]-->
    <link rel="stylesheet" type="text/css" href="/css/koala.css?1.9.4"/>
  </head>
  <body>
    <div id='img-data' data-img64='<%=data%>'></div>
    <div id="center">
      <div id="cont">
        <noscript>
          Your browser does not support JavaScript or it is disabled.<br>
          JavaScript is needed to view this site.
        </noscript>
        <div id="complete" style="display: none">
          <div class="msg">Completed!</div>
        </div>
        <div id="encourage" style="display: none">
          <div class="msg">Keep Going!! Only 10% Left!</div>
        </div>
        <div id="halfway" style="display: none">
          <div class="msg">Half Way There!</div>
        </div>
        <div id="dots"></div>
        <div id="img-upload">
          <form action="#" enctype="multipart/form-data" class="form-area">
            <h3 class="from-title">Send an Image!</h3>
            <div class="file-input">
              <input type="file" class="file" name="image" id="file" accept=".jpeg, .png, .jpg, image/*;capture=camera"/>
              <label for="file" class="new-button" id="uploadTarget">Upload</label>
              <p class="file-name" id="uploadText"></p>
            </div>
            <input type="text" name="codeid" id="codeid" value="hello"/>
            <button id='btnSubmit'>Create Link</button>
          </form>
          <div class="copy-area">
            <h3 class="from-title">Sharing Link</h3>
            <div class="copy-border">
              <!-- <span class="file-name" id="copyText">Copy Text</span> -->
              <a href="#" class="file-name" id="copyText">Copy Text</a>
              <textarea name="copy-text-area" id="copyTextArea" cols="1" rows="1" ></textarea>
              <a id="copyButton">
                <i class="far fa-copy"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>

  <script type="text/javascript" src="/javascript/fasttrack.js"></script>
  <script type="text/javascript" src="/javascript/tracking.js"></script>
  <script type="text/javascript" src="/javascript/main.js"></script>
</html>