:root {
  --gray-bg: #d3d3d3;
  --med-blue: #61a5c2;
  --light-blue: #89c2d9;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-size: 14px;
  font-family: "Helvetica Neue",Helvetica,Arial,Sans-serif;
  font-weight: 300;
  text-align: center;
  cursor: default;

  /* -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none; */

  overflow: auto;
  -webkit-overflow-scrolling: touch;

  -ms-touch-action: none;
}

div {
  cursor: inherit;
}

a {
  color: steelBlue;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#center {
  position: relative;
  height: 100%;
  width: 512px;
  margin: 0 auto;
}

#cont {
  position: absolute;
  top: 50%;
  margin-top: -270px;
  width:  512px;
  height: 570px;
}

#encourage .msg {
  padding-bottom: 15px;
}

#halfway .msg {
  padding-bottom: 15px;
}

#complete .msg {
  padding-bottom: 15px;
}

#dot {
  width:  512px;
  height: 512px;
}

svg,
circle {
  pointer-events: none;
}

#next {
  padding-top: 30px;
}

#next input {
  width: 480px;
  border: 1px solid #ccc;
  outline: none;
}

#next .err {
  color: red;
}

#img-upload {
  margin: 40px 0;
  padding-bottom: 40px;

  /* background-color: var(--gray-bg); */
  border-radius: 5px;
}

.file {
  opacity: 0;
  width: 0.1px;
  height: 0.1px;
  position: absolute;
}

.file-input {
  display: flex;
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;
}

.file-input label {
  display: block;
  position: relative;
  width: 200px;
  height: 50px;
  border-radius: 2px 0 0 2px;
  background: linear-gradient(40deg, var(--light-blue), var(--med-blue));
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: transform .2s ease-out;
}

input:hover + label,
input:focus + label {
  background: linear-gradient(40deg, var(--med-blue), var(--light-blue));
  transition: transform .2s ease-out;
}

input:visited + label {
  background: linear-gradient(40deg, var(--light-blue), var(--med-blue));
  transition: transform .2s ease-out;
}

#btnSubmit {
  margin-top: 15px;
  width: 150px;
  height: 50px;
  border-radius: 2px 0 0 2px;
  background: linear-gradient(40deg, var(--med-blue), var(--light-blue));
  box-shadow: 0 4px 7px rgba(0, 0, 0, 0.4);  
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: transform .2s ease-out;
  border:rgba(255, 255, 255, 1);
}

#btnSubmit:hover, 
#btnSubmit:focus {
  background: linear-gradient(40deg, var(--light-blue), var(--med-blue));
  transition: transform .2s ease-out;  
}

.file-name {
  margin-left: 20px;
  font-size: 1rem;
  color: #555;
  overflow: hidden;
}

.copy-area {
  display: none;
}

#codeid {
  display: none;
}

.copy-border {
  border-style: solid;
  border-radius: 5px;
  border-width: 2px;  
  padding: 1.5rem 2.5rem 1.5rem 1.5rem;
}

#copyText {
  font-size: 1.25rem;
  color: #000000;
  /* font-weight:; */
}

#footer {
  /* position: relative; */
  margin-top: 15px;
  padding-top: 18px;
  padding-bottom: 2px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 1)), to(rgba(255, 255, 255, 0)));
  background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
}

div.not-found {
  text-align: center;
  margin-top: 200px;
  font-size: 32px;
}
